{%extends "base.html"%}
{%block content%}


<div class = "row">
    <div class = "cartleft">

        <div class = "cartheader">
            <h1>Shopping Cart</h1>
        </div>

        
        {% for c in cart %}

        <div class = "cart-grid">

            <div class = "cart_image">
                <img src="/static/images/product/{{c.image}}" style="height: auto; width: 20%;">
            </div>

            <div class = "cart_name">
                <p>{{c.name}}</p>
            </div>

            <div class = "cart_price">
                <p>${{c.price}}</p>
            </div>

            <div class = "remove_item">
                <form method="POST" action="{{ url_for('delete', id=c.id) }}">
                    <input type="submit" value="Remove Item">
                </form>
            </div>
        </div>

        {%endfor%}

    </div>

    <div class = "cartright">

        <div class="summary">
            <h1>Summary</h1>
        </div>
        {% for t in cart %}
        <div class = "sum-grid">
            <div class = "sum_name">
                <h2>{{t.name}}</h2>
            </div>

            <div class = "sum_price">
                <h2>${{t.price}}</h2>
            </div>
        </div>
        {%endfor%}
<br><br>
<br><br>

        <div class = "sum-grid">
            <div class = "sum_name">
                <h2>Total Price</h2>
            </div>

            <div class = "sum_price">
                <h2>$4158.98</h2>
            </div>
        </div>

    </div>
</div>



{%endblock%}








