{%extends "base.html"%}
{%block content%}

<div class="sidenav">
    <a href="/gpu">Graphics Cards</a>
    <a href="/cpu">Processors</a>
    <a href="/ram">Memory</a>
    <a href="/mb">Motherboards</a>
    <a href="/ssd">Storage</a>
    <a href="/psu">Power Supplies</a>
    <a href="/case">Cases</a>
</div>

<div class = "product-grid">
    
    {% for c in case %}

    <div class="product" onclick='location.href="/product/{{c.id}}";' style = "cursor:pointer;"> 
        
        <center>
        <img src="/static/images/product/{{c.image}}" style="height: 100px; width: auto;">
        <h1>{{ c.name }} </h1>
        <h2>${{c.price}}</h2>
        </center>

    </div> 

    {%endfor%}

</div>
{%endblock%}