{%extends "base.html"%}
{%block content%}



{% if current_user.is_authenticated %}
<div class = "home-grid">
    <a href ="/gpus">Graphics Cards</a>
    <a href ="/cpus">Processors</a>
    <a href ="/motherboard">Motherboards</a>
    <a href ="/memory">Memory</a>
    <a href ="/storage">Storage</a>
    <a href ="/psus">Power Supplies</a>
    <a href ="/case">Cases</a>
</div>

{% else %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<h1> Please Login or Register</h1>
</center>

{% endif %}

{%endblock%}
