{%extends "base.html"%}
{%block content%}



{% if current_user.is_authenticated %}
<br>
<br>
<br>
<br>

<center>
<div class = "home-grid">
   
    <div class="scrollbutton" onclick='location.href="/motherboard";' style = "cursor:pointer;"> 
        <img src="/static/images/homepage/mb.png" style="height: 100px; width: auto;">
    </div> 

    <div class="scrollbutton" onclick='location.href="/storage";' style = "cursor:pointer;"> 
        <img src="/static/images/homepage/ssd.png" style="height: 100px; width: auto;">
    </div> 

    <div class="scrollbutton" onclick='location.href="/memory";' style = "cursor:pointer;"> 
        <img src="/static/images/homepage/ram.png" style="height: 100px; width: auto;">
    </div> 

    <div class="scrollbutton" onclick='location.href="/cpus";' style = "cursor:pointer;"> 
        <img src="/static/images/homepage/cpu.png" style="height: 100px; width: auto;">
    </div> 

    <div class="scrollbutton" onclick='location.href="/gpus";' style = "cursor:pointer;"> 
        <img src="/static/images/homepage/gpu.png" style="height: 100px; width: auto;">
    </div> 

    <div class="scrollbutton" onclick='location.href="/psus";' style = "cursor:pointer;"> 
        <img src="/static/images/homepage/psu.png" style="height: 100px; width: auto;">
    </div> 

    <div class="scrollbutton" onclick='location.href="/case";' style = "cursor:pointer;"> 
        <img src="/static/images/homepage/case.png" style="height: 100px; width: auto;">
    </div> 

</div>
</center>

{% else %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<h1> Please Login or Register</h1>
</center>

{% endif %}

{%endblock%}
