{%extends "base.html"%}
{%block content%}


<div class = "productid-grid">

    <center>
    <div class = "p_image">
        <img src="/static/images/product/EVGAXCGAMINGGeForceRTX3050.jpeg" style="height: auto; width: 70%;">
    </div>
    </center>

    <div class = "p_info">
        <h2>Graphics Cards</h2>
        <b><h1>EVGA XC GAMING - GeForce RTX 3050</h1></b> 
        <h2> $549.99</h2>
        <center>
        <div class = "addtocart">
            <center><p> ADD TO CART </p></center>
        </div>
        </center>
        <br> <p>8GB Memory, 1550MHz Core Clock, 201.8mm Length</p>
    </div> 
</div>



{%endblock%}