{%extends "base.html"%}
{%block content%}


{%for pid in product_data%}
    <div class = "productid-grid">

        <center>
        <div class = "p_image">
            <img src="/static/images/product/{{pid[3]}}" style="height: auto; width: 70%;">
        </div>
        </center>

        <div class = "p_info">
            <h2>Graphics Cards</h2>
            <b><h1>{{pid[1]}}</h1></b> 
            <h2> ${{pid[2]}}</h2>
            <center>
            <div class = "addtocart" onclick="getproductitem()" style = "cursor:pointer;">
                <center><p> ADD TO CART </p></center>
            </div>
            </center>
            <br> 
            <h2>Specifications</h2>
            <p>{{pid[4]}}</p>
        </div> 
    </div>
{%endfor%}



{%endblock%}