body{
    font-family:"Verdana";
    background-color: white;
    margin: 0;
  }

  h1{
    font-family: 'Share', cursive;
  }

  h2{
    font-family: 'Share', cursive;
    color: #aaaaad;
  }

  .head {
    background-color: white ;
    width: 100%;
    position: relative;
    border-top: black 20px solid;
  }

  .head h1{
    font-family: 'Share', cursive;
    font-size: 50px;
  }


  .topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Share', cursive;
  }
    
  .topnav a:hover {
    background-color: rgb(214, 214, 214);
  }
  
  .topnav {
    width: 100%;
    position: relative;
    border: lightgray 1px solid;
    overflow: hidden;
  }
  


  .home-grid {
    display: grid;
    height: auto;
    grid-gap: 25px;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
  }

  .scrollbutton:hover{
    background-color: #1D1E2C;
    transition-duration: 0.5s;
    transform: scale(1.05);
  }

  .error a{
    text-decoration: none;
    background: #1D1E2C;
    color: white;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 20px; 
  }

  .error a:hover{
    opacity: 85%;
  }

  .error{
    font-family: 'Share', cursive;
  }

  input[type=text] {
    border: none;
    border-bottom: 2px solid #1D1E2C;
    padding: 12px 20px;
    margin: 8px 0;
    width:20%;
  }

  input[type=password] {
    border: none;
    border-bottom: 2px solid #1D1E2C;
    padding: 12px 20px;
    margin: 8px 0;
    width:20%;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #1D1E2C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-left: 150px;
    border-bottom: lightgray 2px solid;
  }

  .product {
    padding-top: 5%;
  }
  
  .product a{
    font-family: 'Share', cursive;
  }
  
  .product:hover{
    background-color: #1D1E2C;
    color: white;
  }

  .productid-grid {
    display: grid;
    height: auto;
    grid-gap: 25px;
    padding: 50px;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  .p_info {
    border: 2px solid #c4c4c5;
    border-radius: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .addtocart {
    border: 2px solid #1D1E2C;
    list-style-type: none;
  }

  .addtocart:hover{
    background-color: #1D1E2C;
    transition-duration: 0.5s;
    transform: scale(1.05);
    color: white;
  }

  .homesale-grid {
    display: grid;
    height: auto;
    grid-gap: 75px;
    padding: 50px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: #f0efef;
    margin-top: -76px;
  }

  .home_info{
    padding-top: 12%;
  }

  .sidenav {
    height: 100%; 
    width: 120px; 
    position: fixed;
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    border-right: lightgray 1px solid; 
    margin-left: 1%;
    padding-right: 1%;
  }

  .sidenav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Share', cursive;
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  .sidenav a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  .sidenav a:hover {
    background-position: 0;
  }

  

  .sidenav a:hover::before {
    width:100%;
  }

